body {
  background-color: #F3F9FB;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #276678;
  border-width: 6px;
  width: 4%;
}

img{
height: 250px;
}

h1{
  font-family: Satisfy;
  font-size: 50px;
  color: #C37B89;

}

h3 {
  font-family: Satisfy;
  font-size: 30px;
  color: #C37B89;
}
